# dependencies
node_modules

# next.js
.next
out

# production
build

# env
.env
.env.local
.env*.local

# neon
.neon

# misc
.DS_Store
*.pem
npm-debug.log*
.playwright-mcp

# typescript
*.tsbuildinfo
next-env.d.ts

# todo
todo
